*{
    margin:0;
    padding: 0;
}

html, body{
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif ;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
  
}
.thebody{
    background-color: rgb(255, 255, 255);
    border: 1px transparent;
    padding: 10px 35px;
    box-shadow:  0 8px 6px -2px rgb(151, 151, 151);
   
}

/*-------------------------------------Header-------------------------------------*/
header{
    margin-bottom: 35px;
    display: flex;
    flex-direction: row;
    align-items: left;
    position: relative;
    
}

.svg{
    float: right;
    color: #7B7E92;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    align-items: center;
}


#image-mark{
    width: 80px;
}

hr{
    border: 1px solid #394695;
    height: 10x;
}

#image-mark,hr,h2{
    margin-right: 10px;
}

/*-----------------------Search Bar---------------------------------*/

.search-bar {
    
    display: flex;
    flex-direction: row;
    align-items: left;
   
    
}
#activebtn{
    border-radius: 40px;
    padding-left: 10px;
    padding-right: 10px;
    border-style: none;
    background-color: #394695;
    color:white;
    height: 47px;
    margin-right: 15px;
}

.search-bar {
    
    display: flex;
    flex-direction: row;
    align-items: left;
    margin-bottom: 60px;
    display: flex;
    align-items: center;
    position: relative;
}

.search-bar input[type="search"] {
    padding-left: 3rem;
    width: 100%;
    box-sizing: border-box;
    border:none;
    border-bottom: 0.5px solid #394695;
    border-top: 0.5px solid #394695;
    border-left:0.5px solid #394695; 
    border-right: 0.5px solid #394695;
    font-size: 1rem;
    line-height: 1.5;
    height: 2.5rem;
    border-radius: 1.25rem;
    background-color:#F5F6F8 ;
}

.search-bar input[placeholder="Search by Employee ID..."] {
    padding-left: 5%;
}

.search-bar svg {
    position: absolute;
    left: 0.5rem;
    width: 1.5rem;
    height: 1.5rem;
    fill: rgb(85, 82, 82);
} 
.searchContainer{
    display: flex;
    flex-direction: row;
    padding-top: 25px;
    justify-content: right;
    margin-right: 40px;
}
#query{
    width: 70%;
    padding: 10px;
    border-radius: 50px;
    border: solid 0.5px black;
    margin: 10px 40px 10px 0px;
    box-sizing: content-box;
    background-color: #ebf0f1
}

svg {
    fill: #394695;
    padding: 10px;
    width: 30px;
    
}
th{
    padding: 12px; 
    background-color: #D6E0EA; 
    text-align: left;
}
td{
    padding: 12px;
    text-align: left;
}

.tableContainer{
    padding-top: 5px;
    justify-content: center;
    align-items: center;
    display: flex;
    
}